.SideBar {
    min-width: 270px;
    max-width: 20vw;
    min-height: 100vh;
    overflow-y: auto;
}

.SideBarTitle {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.TitleIcon {
    margin-right: 10px;
    transform: translateY(7px);
    width: 36px;
    height: 36px;
}

.Options,
.OptionsActivite {
    padding: 5px;
    font-weight: 700;
    transition: all 0.3s;
    cursor: pointer;
}

.Options:hover,
.OptionsActivite:hover {
    background-color: rgb(105, 130, 135);
}

.OptionsActivite {
    background-color: rgb(105, 130, 135);
}
